<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <section wicket:id="container">
        <label wicket:id="label"></label>
        <fieldset wicket:id="group" class="group">
            <label wicket:id="prefix"></label>
            <input wicket:id="field" />
            <label wicket:id="suffix"></label>
        </fieldset>
        <div wicket:id="feedback" role="status"></div>
    </section>
</wicket:panel>
</body>
</html>
