<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:extend>
    <div wicket:id="plot" class="oat-donut" role="img">
        <div wicket:id="ring" class="oat-donut-ring"></div>
        <ul class="unstyled oat-donut-legend">
            <li wicket:id="part"><span wicket:id="key"></span><span wicket:id="name" class="oat-donut-name"></span><span wicket:id="value" class="oat-donut-value"></span><span wicket:id="share" class="oat-donut-share text-light"></span></li>
        </ul>
    </div>
</wicket:extend>
</html>
