<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <form wicket:id="form" class="vstack oat-login-form">
        <div wicket:id="failed"></div>
        <div wicket:id="username"></div>
        <div wicket:id="password"></div>
        <div class="hstack justify-between oat-login-options">
            <div wicket:id="rememberMe"></div>
            <a wicket:id="forgot"><span wicket:id="label"></span></a>
        </div>
        <button wicket:id="signIn" type="submit"></button>
    </form>
</wicket:panel>
</html>
