<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <ol class="unstyled oat-messages">
        <li wicket:id="messages" class="oat-message">
            <div wicket:id="avatar"></div>
            <div class="oat-message-body">
                <div class="oat-message-heading">
                    <strong wicket:id="author"></strong>
                    <time wicket:id="time" class="text-light"></time>
                </div>
                <p wicket:id="text"></p>
            </div>
        </li>
    </ol>
</wicket:panel>
</html>
